<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/overview">
          <span class="far fa-file"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">
          <span class="far fa-file"></span>
          Reports
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Reports</span>
      <a class="d-flex align-items-center text-muted" routerLink="#">
        <span class="far fa-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports/attendance">
          <span class="far fa-file-pdf"></span>
          Attendance Report
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports/status">
          <span class="far fa-file-pdf"></span>
          Status Report
        </a>
      </li>
    </ul>
  </div>
</nav> -->
