<footer>
	<div class="container mt-2">
		<div class="row justify-content-around">
			<div class="col-sm-4">
				<img class="img-fluid mt-2" src="../../../assets/footer-logo.png" alt="revature" height="200" width="200">
			</div>
			<div class="col-sm-3 contact-info">
				<span class="fas fa-home"></span> <span>&nbsp;11730
					Plaza America Drive<br>Reston, VA 20190
				</span><br>
				<span class="fas fa-phone"></span> <a href="tel:(703) 570-8282">&nbsp;(703) 570-8282</a><br>
				<span class="fas fa-envelope"></span> <a href="mailto:info@revature.com">&nbsp;info@revature.com</a><br>
				<span class="fas fa-link"></span> <a target="_blank" href="http://revature.com">&nbsp;revature.com</a><br>
				<span class="copyright"> <i class="fas fa-copyright" aria-hidden="true"></i>&nbsp;2017 Revature</span>
			</div>
		</div>
	</div>
</footer>
