<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <main role="main" class="col-lg-12">
      <h2>Manage Associates</h2>
      <p>
        Use this page to manage the associates in staging.
      </p>

      <div class="input-group w-50">
        <div class="input-group-prepend">
          <div class="input-group-text">Filter:</div>
        </div>
        <input type="text" class="form-control" placeholder="Search">
      </div>

      <div class="my-2 w-100">
        <mat-slide-toggle [checked]="this.stagingFilter" (change)="this.stagingFilter = !this.stagingFilter"></mat-slide-toggle>
        <span class="py-1"><strong>Filter by staging &emsp;</strong></span>
        <mat-form-field class="mr-2">
          <input matInput [matDatepicker]="picker1" name="FilterDateStart" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" name="FilterDateEnd" placeholder="End date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="my-2 w-100">
        <mat-slide-toggle [checked]="this.confirmationFilter" (change)="this.confirmationFilter = !this.confirmationFilter"></mat-slide-toggle>
        <span class="py-1"><strong>Filter by confirmed &ensp;</strong></span>
        <mat-radio-group>
          <mat-radio-button value="1">Show confirmed</mat-radio-button> &ensp;
          <mat-radio-button value="2">Show unconfirmed</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="my-2 ml-2">
        <button type="button" class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#add-modal">
          <i class="fas fa-plus"></i>&ensp;Add Associate
        </button>
        <button type="button" class="btn btn-sm btn-warning mr-2" data-toggle="modal" data-target="#edit-modal" [disabled]="!atLeastOneSelected">
          <i class="fas fa-edit"></i>&ensp;Edit Associates
        </button>
        <button type="button" class="btn btn-sm btn-danger mr-2" data-toggle="modal" data-target="#remove-modal" [disabled]="!atLeastOneSelected">
          <i class="fas fa-minus"></i>&ensp;Remove Associates
        </button>
        <button type="button" class="btn btn-sm btn-secondary mr-2" (click)="toggleSlide()">
          <i class="fas fa-upload"></i>&ensp;Upload Excel File
        </button>
        <button type="button" class="btn btn-sm btn-info">
          <i class="far fa-file-pdf"></i> Download as PDF
        </button>
      </div>
      <div class="mb-2 ml-2" style="display: none" id="toggleMe">
        <input type="file" />
      </div>
      <table class="table table-hover table-responsive">
        <thead class="thead-light">
          <tr>
            <th>
              <mat-checkbox (change)="toggleSelectAllAssociates()"></mat-checkbox>
            </th>
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>Attendance</th>
            <th>Trainer Name</th>
            <th>Batch Name</th>
            <!-- <th>Location</th> -->
            <!-- <th>Skill</th> -->
            <th>Marketing Start</th>
            <th>Staging Start</th>
            <th>Staging End</th>
            <th>Confirmation Date</th>
            <th>Project Start Date</th>
            <th>Client</th>
            <th>Interviews</th>
            <th>Repanels</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let associate of associates" [ngClass]="{'table-info': associate.selected}">
            <td>
              <mat-checkbox (change)="selectAssociate(associate)" [checked]="associate.selected"></mat-checkbox>
            </td>
            <!-- <td><a routerLink="/associates/{{associate.id}}">{{associate.id}}</a></td> -->
            <td><a routerLink="/associates/{{associate.id}}">{{associate.firstName}} {{associate.lastName}}</a></td>
            <td *ngIf="!associate.absent; else elseBlock"><span class="text-success">Present</span></td>
            <ng-template #elseBlock>
              <td><span class="text-danger">Absent</span></td>
            </ng-template>
            <td>{{associate.trainerName}}</td>
            <td>{{associate.batchName}}</td>
            <!-- <td>{{associate.location}}</td> -->
            <!-- <td>{{associate.skill}}</td> -->
            <td>{{associate.marketingStartDate | date:'shortDate'}}</td>
            <td>{{associate.stagingStartDate | date:'shortDate'}}</td>
            <td>{{associate.stagingEndDate | date:'shortDate'}}</td>
            <td>{{associate.confirmationDate | date:'shortDate'}}</td>
            <td>{{associate.projectStartDate | date:'shortDate'}}</td>
            <td>{{associate.clientName}}</td>
            <td>{{associate.numberInterviews}}</td>
            <td>{{associate.repanelCount}}</td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</div>

<app-footer></app-footer>

<app-modal type="add" bootstrapId="add-modal" titleText="Add Associate"></app-modal>
<app-modal type="edit" bootstrapId="edit-modal" titleText="Edit Associates"></app-modal>
<app-modal type="remove" bootstrapId="remove-modal"></app-modal>
