/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #f26a25;
  --secondary-color: #474C55;
  --tertiary-color: #777;
}

body {
  font-size: .875rem;
}

#outside-container {
  min-height: 100vh;
}

main {
  padding-top: 48px; /* Space for fixed navbar */
}

/* MUST HAVE THIS FOR DISPLAYING ANGULAR MATERIAL SELECT DROPDOWNS IN MODALS */
.cdk-overlay-container,
.cdk-overlay-container * {
  z-index: 5000 !important;
}
