<form>
  <div class="form-group">
    <label for="attendance">Set attendance</label>
    <select class="form-control" id="attendance">
      <option>Present</option>
      <option>Absent</option>
    </select>
  </div>
  <div class="form-group">
    <label for="stagingStartDate">Staging start date</label>
    <input type="date" class="form-control" id="stagingStartDate" />
  </div>
  <div class="form-group">
    <label for="stagingEndDate">Staging end date</label>
    <input type="date" class="form-control" id="stagingEndDate" />
  </div>
  <div class="form-group">
    <label for="marketingStartDate">Marketing start date</label>
    <input type="date" class="form-control" id="marketingStartDate" />
  </div>
  <div class="form-group">
    <label for="confirmationDate">Confirmation date</label>
    <input type="date" class="form-control" id="confirmationDate" />
  </div>
  <div class="form-group">
    <label for="projectStartDate">Project start date</label>
    <input type="date" class="form-control" id="projectStartDate" />
  </div>
  <div class="form-group">
    <label for="interviews">Set Number of Interviews</label>
    <input type="number" min=0 class="form-control" id="interviews">
  </div>
  <div class="form-group">
    <label for="repanels">Set Number of Re-panels</label>
    <input type="number" min=0 class="form-control" id="repanels">
  </div>
</form>
